/*
!/.gitignore
!/.gitconfig
!/.editorconfig
!/source
!/source/*
!/composer.json
!/composer.lock
!/bower.json
!/.bowerrc
!/README.md
!/LICENSE*
!/config.rb
!/gulpfile.js
!/package.json
*Thumbs.db
*web.config
*.log
*.buildpath
*.project
*.settings
*.idea
*.DS_Store
*._.DS_Store
*.codekit*
*.sublime-*
*.sass-cache
*prepros.cfg
*node_modules
*thirdparty
