{% macro input_label(id='Field', title='Title') %}
<label for="{{ id }}" class="show-for-sr">{{ title }}</label>
{% endmacro %}

{% macro input(name='Field', value='', type='text', title='Title') %}
{% set id = "field"+name %}
<div class="field">
    {{ input_label(id, title) }}
    <input type="{{ type }}" id="{{ id }}" name="{{ name }}" value="{{ value | escape }}" placeholder="{{ title }}" />
</div>
{% endmacro %}

{% macro textarea(name='Field', value='', title='Title') %}
{% set id = "field"+name %}
<div class="field">
    {{ input_label(id, title) }}
    <textarea id="{{ id }}" name="{{ name }}" placeholder="{{ title }}" rows="8" cols="40">{{ value | escape }}</textarea>
</div>
{% endmacro %}

{% macro action(name='Field', value='Submit') %}
{% set id = "action"+name %}
    <input type="submit" class="button" id="{{ id }}" name="{{ name }}" value="{{ value | escape }}" />
{% endmacro %}
